.animal-details-sub-part .chips-input {
    width: 200px;
}

.animal-details-sub-part .chip-add-button {
    cursor: pointer;
    color: #FFF;
    background: rgb(30, 108, 144);
    outline: none;
    border: none;
    padding-right: 12px;
    padding-left: 12px;
}
.animal-details-sub-part {
    cursor: pointer;
    color: rgb(30, 108, 144);
    background: #FFF;
    outline: none;
    border: none;
    padding-right: 12px;
    padding-left: 12px;
    /* position: absolute; */
}

.chip-refresh-button {
    cursor: pointer;
    color: rgb(30, 108, 144);
    background: #FFF;
    outline: none;
    border: none;
    padding-right: 12px;
    padding-left: 12px;
    margin-top: 15px;
    position: absolute;
}

.animal-details-sub-part .paperclip {
    position: absolute;
    right: 15px;
    color:#aaaaaa;
}

.paperclip-animal {
    cursor: pointer;
    height:30px;
}


/* .isSterilized .attachments-icon {
    margin-left: 133px;
}

.isDangerous .attachments-icon {
    margin-left: 133px;
} */

.animal-details-sub-part .narrowPicker { width:90px !important}